html,body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;//字体抗锯齿渲染
	-moz-osx-font-smoothing: grayscale;
}